<div class="coverAll">
    <header id="headerTop">
        <div id="contactHeader">
            <ul>
                <li id="firstEle">
                    <a href="tel:+32471625028">
                        <i class="bi bi-telephone"></i> +32471625028
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="mailto:Elias_bouki@hotmail.com">
                        <i class="bi bi-envelope"></i>Elias_bouki&#64;hotmail.com
                    </a>
                </li>
            </ul>
        </div>
    </header>
    
    <header id="headerBottom">
        <a class="button" href="#header"  id="linkImg">
            <img src="Muurinject_Logo.png" alt="Logo_Muurinject">
        </a>
        <nav>
            <a class="button" href="#services">Services</a>
            <a class="button" href="#working-method">De Werkwijze</a>
            <a class="button" href="#contact">Contact</a>
        </nav>
        
    </header>
    </div>
