<div class="coverAll">
    <header id="headerTop">
        <div id="contactHeader">
            <ul>
                <li id="firstEle">
                    <a href="tel:+32471625028">
                        <i class="bi bi-telephone-fill"></i> +32 471 62 50 28
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="mailto:Muurinject@gmail.com">
                        <i class="bi bi-envelope-fill"></i>Muurinject&#64;gmail.com
                    </a>
                </li>
            </ul>
        </div>
    </header>
    
    <header id="headerBottom">
        <a class="button" id="linkImg">
            <img src="Muurinject_Logo.png" alt="Logo_Muurinject" data-value="" (click)="regularNavigate($event)">
        </a>
        <nav>
            <div class="dropdown-container">
                <select name="services" id="servicesDropdown" [(ngModel)]="selectedService" (change)="navigate($event)">
                    <option value="" disabled hidden #firstOption>Diensten</option>
                    <option value="wall-inject">Muur injecteren</option>
                    <option value="cellar-treatment">Kelderbehandeling</option>
                    <option value="wall-impregnation">Muren impregneren</option>
                    <option value="damp-proofing">Condens- en schimmelbestrijding</option>
                </select>
            </div>
            <a class="button" data-value="contact" (click)="regularNavigate($event)">Contact</a>
        </nav>
        
    </header>
    </div>
