img {
    width: 6em; 
    cursor: pointer;
    margin: 0.51em 0.5em 0.5em 0em;
}

#headerTop {
    background-color: rgb(211,216,221);
}

#contactHeader {
    display: flex;
    margin-left: 1em;
    cursor: pointer;
}

#linkImg {
    margin-left: 2em;
}

li {
    list-style-type: none;
    text-decoration: none;
    margin-top: 0.5em;
}

li > a {
    text-decoration: none;
    color: rgb(36,53,79);
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

i {
    color: rgb(36,53,79);;
    font-size: 1.2em;
    margin-right: 0.3em;
}

#headerBottom {
    display: flex; 
    align-items: flex-end; 
    justify-content: space-between; 
    padding: 0px 20px; 
    border-bottom: 2px solid rgb(36,53,79);
    margin-bottom: -5px;
}

nav {
    margin-right: 3em;
    display: flex; 
    align-items: flex-end; 
}

nav a {
    color: rgb(36, 53, 79);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgba(211, 216, 221, 0.6); 
    transform: scale(1.05); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    color: rgb(53,96,147)
}

@media (max-width: 900px) {
    #contactHeader {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    nav {
        font-size: 2vw;
    }
}

@media (max-width: 600px) {
    #headerTop, #headerBottom {
        flex-direction: column;
        align-items: center;
        padding: 0rem;
    }
    #contactHeader {
        justify-content: center;
    }
    nav {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    #contactHeader {
        flex-direction: column;
        align-items: center;
        margin: 0rem;
    }
    nav {
        font-size: 3.35vw;
        padding: 0px 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    nav a {
        padding: 0px 6px 6px 6px;
    }
}

@media (max-width: 400px) {
    nav {
        margin: 0;
    }
}

@media (max-width: 250px) {
    #contactHeader a {
        font-size: 6vw;
    }
}