<div class="coverAll">
    <header id="headerTop">
        <div id="contactHeader">
            <ul>
                <li id="firstEle">
                    <a href="tel:+32471625028">
                        <i class="bi bi-telephone"></i> +32471625028
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="mailto:Elias_bouki@hotmail.com">
                        <i class="bi bi-envelope"></i>Elias_bouki&#64;hotmail.com
                    </a>
                </li>
            </ul>
        </div>
    </header>
    
    <header id="headerBottom">
        <a class="button" routerLink="/home" data-value=""  id="linkImg">
            <img src="Muurinject_Logo.png" alt="Logo_Muurinject">
        </a>
        <nav>
            <div class="dropdown-container">
                <select name="services" id="servicesDropdown">
                    <option value="" disabled hidden #firstOption>Diensten&nbsp;&nbsp;&nbsp;▾</option>
                    <option value="electrical">Elektriciteit</option>
                    <option value="heating">Verwarming</option>
                    <option value="ventilation">Ventilatie</option>
                    <option value="sanitary">Sanitair</option>
                    <option value="constructionRenovation">Nieuwbouw & renovatie</option>
                </select>
            </div>
            <a class="button" data-value="cerga" >Erkenning</a>
            <a class="button" data-value="about" >Over ons</a>
            <a class="button" data-value="contact">Contact</a>
        </nav>
    </header>
    </div>
