footer {
    box-shadow: 0 -2px 5px rgba(164, 164, 164, 0.5);
}

#footerTop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 2rem;
    height: auto;
    padding: 3vw 9vw 0vw 9vw;
    margin-bottom: 0;
}

#footerLogo {
    display: flex;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  
}
#footerCompanyDescription{
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#footerContact {
    display: flex;
    align-items: start;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#footerServices {
    display: flex;
    flex-direction: column;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#footerBottom {
    padding: 1rem;
    border-top: 1px solid rgba(7, 88, 159, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

li {
    list-style-type: none;
    text-decoration: none;
    margin-top: 0.5em;
    color: rgb(36,53,79);
    font-size:1.1rem;
}

img {
    width: 12em;
    cursor: pointer;
}

li > a {
    text-decoration: none;
    color: rgb(36,53,79);
    display: flex;
    font-size:1.1rem;
   
    
}
li>a:hover{
    color: rgb(53,96,147);
    cursor: pointer;

}
i {
   position: relative;
    color: rgb(12, 35, 180);
    font-size: 1.2em;
    margin-right: 0.3em;
    font-weight: bold;
    top: -0.1rem;
}
.social-links {
    display: flex;
    gap: 15px; 
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
}

.social-links a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 5px; 
}

.social-links i {
    font-size: 20px;
}
.bi-caret-right-fill{
    top: -0.2rem;
    position: relative;
}
h2 {
    color: rgb(36,53,79);
    font-weight: bold;
}
ul#ulContent {
    margin-left: -2.5rem;
}
#ulContent>li>a{
    justify-content: left;
}
#ulContent>h5{
    font-size:1.1rem;
}
@media (max-width: 900px) {
    #footerTop {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        row-gap: 2rem;
    }

    #footerLogo {
        grid-column: 1 / -1; 
        order: -1;
        border: none;
    }

    img{
        width:17em;
    }

    #footerContact {
        grid-column: 1 / -1;
        align-items: center;
        text-align: center;
    }

    #footerServices {
        grid-column: 1 / -1;
        align-items: center;
        text-align: center;
    }

    #footerBottom {
        grid-column: 1 / -1; 
        padding: 1rem;
        text-align: center;
    }

    #ulContent {
        text-align: center;
    }

}
@media(max-width:400px){

    img {
        width: 67vw;
    }
    h2 {
        font-size: 8vw;
    }
    a, li{
        font-size:4vw;
    }
    div#footerBottom {
        font-size: 3.8vw;
    }
    div#footerTop{
        padding: 2rem 0rem;
    }
  }