<footer>
    <div id="footerTop">
        <div id="footerContact">
            <h2>Onze gegevens</h2>
            <ul id="ulContact">
                <li><a href="https://www.google.com/maps?q=Brusselstraat+51,+2018+Antwerpen" target="_blank">Brusselstraat 51, 2018 Antwerpen&nbsp;&nbsp;<i class="bi bi-geo-alt"></i></a></li>
                <li><a href="tel:+32489689897">+32489689897&nbsp;&nbsp;<i class="bi bi-telephone"></i></a></li>
                <li><a href="mailto:info@manolek.be">info&#64;manolek.be&nbsp;&nbsp;<i class="bi bi-envelope"></i></a></li>
                <li>BE0715736769, RPR Antwerpen&nbsp;&nbsp;<i class="bi bi-file-earmark-text"></i></li>
            </ul>
        </div>
        <div id="footerLogo">
            <a routerLink="/" id="linkImg" data-value="">
                <img src="Logo_Manolek2.png" alt="Logo_Manolek" />
            </a>
        </div>
        <div id="footerServices">
            <h2>Onze diensten</h2>
            <ul id="ulServices">
                <li><a class="button" data-value="heating" ><i class="bi bi-caret-right" ></i> Verwarming</a></li>
                <li><a class="button" data-value="sanitary" ><i class="bi bi-caret-right" ></i> Sanitair</a></li>
                <li><a class="button" data-value="constructionRenovation" ><i class="bi bi-caret-right"></i> Nieuwbouw & renovatie</a></li>
                <li><a class="button" data-value="electrical" ><i class="bi bi-caret-right"></i> Elektriciteit</a></li>
            </ul>
        </div>
    </div>
    <div id="footerBottom">Copyright © 2024 Manolek BV • Alle rechten voorbehouden.</div>
</footer>