<div class="coverAll">
    <app-page-banner title="Over ons" imageUrl="TitelFoto_AboutUs.jpg"></app-page-banner>
    <div class="encompassPage">
    <app-square class="appSquare" title="Over het bedrijf">
        <h5>Gevestigd in Merksem, Antwerpen, is Manolek BV gespecialiseerd in de installatie van warmtepompen, met expertise in zowel nieuwbouw- als renovatieprojecten. Sinds onze oprichting in 2018 hebben we ons gericht op duurzame en efficiënte oplossingen voor woningen en bedrijven.
        </h5>
        <h5>Met ons toegewijde team van vakmensen bieden we niet alleen hoogwaardige installaties van warmtepompen, maar ook een scala aan andere diensten die bijdragen aan een comfortabel en energiezuinig thuis. Wij zijn gevestigd aan de Brusselstraat 51 en zijn trots op ons werk in de regio Antwerpen, waar klanttevredenheid en milieuvriendelijkheid altijd voorop staan.</h5>
        <button class="button">Contacteer ons</button>
    </app-square>
    <span class="services-icons">
        <div class="specialisation">
            <h2>Specialisatie</h2>
            <div class="icons-row">
                <div class="icon">
                    <i class="bi bi-gear"></i>
                    <p>Warmtepompen</p>
                </div>
                <div class="icon">
                    <i class="bi bi-house-door"></i>
                    <p>Nieuwbouwprojecten</p>
                </div>
                <div class="icon">
                    <i class="bi bi-hammer"></i>
                    <p>Renovatie</p>
                </div>
            </div>
        </div>
        <div class="mission">
            <h2>Missie</h2>
            <div class="icons-row">
                <div class="icon">
                    <i class="bi bi-emoji-smile"></i>
                    <p>Klanttevredenheid</p>
                </div>
                <div class="icon">
                    <i class="bi bi-globe"></i>
                    <p>Milieuvriendelijkheid</p>
                </div>
                <div class="icon">
                    <i class="bi bi-check-circle"></i>
                    <p>Vakkundigheid</p>
                </div>
            </div>
        </div>
    </span>
    </div>
    <div class="alignBottom">
    <app-parallax-banner imageUrl="Parallax2.jpg">
        <div class="parallaxDiv">
                <span class="titleName">Wilt u meer weten?</span>  
                <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
                <button class="buttonParallax">Contacteer ons</button>
        </div>
        </app-parallax-banner>
    </div>
    </div>