<div class="encompassPage">
    <app-square title="Wilt u meer weten?">
        <div class="content-container">
            <div class="text-content">
                <h5>Wilt u meer weten over onze werkzaamheden, zoals het installeren van <strong>warmtepompen en oplossingen in elektriciteit en warmtetechniek?</strong> Wij staan klaar om al uw vragen te beantwoorden en u te voorzien van de informatie die u nodig hebt. Neem contact met ons op via deze contactgegevens.</h5>
            </div>
        </div>
    </app-square>
    <span class="contactInfo">
        <h2 class="title">Contactgegevens</h2>
        <ul id="ulContact" >
            <li><a href="https://www.google.com/maps?q=Brusselstraat+51,+2018+Antwerpen" target="_blank"><i class="bi bi-geo-alt"></i>&nbsp;&nbsp;Brusselstraat 51, 2018 Antwerpen</a></li>
            <li><a href="tel:+32489689897"><i class="bi bi-telephone"></i>&nbsp;&nbsp;+32489689897</a></li>
            <li><a href="mailto:info@manolek.be"><i class="bi bi-envelope"></i>&nbsp;&nbsp;info&#64;manolek.be</a></li>
            <li class="be"><a><i class="bi bi-file-earmark-text"></i>&nbsp;&nbsp;BE0715736769, RPR Antwerpen</a></li>
        </ul>
        <h5 id="telephoneContact">Telefonisch bereikbaar</h5>
        <h6 id="times">Ma - vr: 08.00 u. - 17.00 u.</h6>
    </span>
</div>
<div id="map"></div>