.square {
    width: 100%;  
    box-sizing: border-box;
  }
  
  .title {
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;
    color: rgb(7, 87, 159); 
  }
  
  .border {
    position: relative;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 5rem; 
    border-color: transparent;
    background-color: rgb(7, 87, 159); 
  }
  
  .borderTransparant {
    margin-top: -0.5rem;
    height: 0.5rem;
    width: 90%;
    background-color: transparent;
    border-bottom: 1px solid #8b8b8b5b;
  }
  
  .content-wrapper { 
    padding: 2rem 1rem 2rem 0rem;
    line-height: 0.9rem;
  }
  @media (max-width: 900px) {
    .square {
      display:flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .title {
      text-align: center;
      font-size: 1.3rem;
    }
  
  
  
    .borderTransparant {
      display: none;
    }
  
    .content-wrapper {
      padding: 1.5rem 2rem;
      line-height: 1.2rem;
      display:flex;
      flex-direction: column;
    }
  }
  @media(max-width:500px){
    .content-wrapper{
      padding: 1.5rem 0.5rem;
    }
  }
  @media(max-width:400px){
    .title{
      font-size:8vw;
    }
  }