<div class="carousel">
    <swiper-container slides-per-view="1" speed="5000" loop="true" css-mode="true" pagination navigation>
      <swiper-slide>
        <div class="slide-content">
          <img src="Electricity_Icon.png" alt="Elektriciteit" class="slide-image"/>
          <h5>Elektriciteit</h5>
          <div id="underlineTitle"></div>
          <p class="slide-text"> Van elektrische bedrading tot slimme installaties, wij leveren veilige en moderne elektrische systemen die
            voldoen aan de hoogste normen.</p>
          <button class="slide-button">Meer weten</button>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="Heat-pump-icon.png" alt="Verwarming" class="slide-image"/>
          <h5>Verwarming</h5>
          <div id="underlineTitle"></div>
          <p class="slide-text">Of het nu gaat om vloerverwarming of energiezuinige warmtepompen, wij leveren verwarmingsoplossingen die
            comfort bieden en bijdragen aan een duurzame toekomst.</p>
          <button class="slide-button">Meer weten</button>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
            <img src="Ventilation-icon.png" alt="Ventilatie" class="slide-image"/>
            <h5>Ventilatie</h5>
            <div id="underlineTitle"></div>
            <p class="slide-text">Onze ventilatiesystemen zorgen voor een gezonde binnenlucht, met aandacht voor energie-efficiëntie en comfort.</p>
            <button class="slide-button">Meer weten</button>
        </div>
    </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="Sanitary-icon.png" alt="Sanitair" class="slide-image"/>
          <h5>Sanitair</h5>
          <div id="underlineTitle"></div>
          <p class="slide-text">Wij bieden professionele sanitaire installaties, van badkuipen tot kranen, met een sterke focus op kwaliteit en duurzaamheid.</p>
          <button class="slide-button">Meer weten</button>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="Renovation-icon.png" alt="Nieuwbouw & renovatie" class="slide-image"/>
          <h5>Nieuwbouw & renovatie</h5>
          <div id="underlineTitle"></div>
          <p class="slide-text">Bij zowel nieuwbouwprojecten als renovaties zorgen wij voor de professionele installatie van camera's en andere voorzieningen, afgestemd op uw bouwfase.</p>
          <button class="slide-button">Meer weten</button>
        </div>
      </swiper-slide>
    </swiper-container>
    </div>
