<div class="coverAll">
    <div class="alignTop">

    </div>
    <div class="inbetween">
      <h4 class="slider-title">Onze diensten</h4>
      
      
      </div>
    </div>
    <div class="alignBottom">
      <app-parallax-banner imageUrl="Parallax2.jpg">
        <div class="parallaxDiv">
          <span class="titleName">Wilt u meer weten?</span>  
          <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
          <button class="buttonParallax">Contacteer ons</button>
        </div>
      </app-parallax-banner>
    </div>
  