<div class="coverAll">
    <div class="alignTop">

    </div>
    <div class="inbetween">

      <div class="inbetween-content">
        <div class="glass-effect">
        <h1 class="company-name">Muurinject </h1>
        <h2>Kies voor een definitieve oplossing tegen opstijgend vocht</h2>
        <p>Een droge woning is essentieel voor een gezond leven. Vochtproblemen kunnen leiden tot <strong>schimmel, schade aan uw woning en verlies van wooncomfort.</strong> Onze muurinjectie biedt een effectieve oplossing tegen opstijgend vocht. Vocht is een ongewenste indringer die uw woning op drie manieren kan aantasten:</p>
        <ul>
          <li class="listStyle"><strong>Gezondheid</strong>: vocht bevordert schimmel, wat kan leiden tot gezondheidsproblemen.</li>
          <li class="listStyle"><strong>Wooncomfort</strong>: vochtige muren zorgen voor een onaangename geur en kou in huis.</li>
          <li class="listStyle"><strong>Waardeverlies</strong>: vocht beschadigt de structuur van uw woning, wat de waarde verlaagt.</li>
        </ul>
        <p>Zeg vocht vaarwel en investeer in een gezonde woning. Vertrouw op onze expertise in muurinjectie voor een langdurige oplossing.</p>  
        <div class="vocht-info">
            <div class="vocht-item">
              <div class="surround-item">
                <i class="bi bi-award"></i>
                <span><strong>Gerichte aanpak</strong><br>Gebruik van hoogwaardige injectiegel</span>
              </div>
            </div>
            <div class="vocht-item">
              <div class="surround-item">
                <i class="bi bi-calendar-check"></i>
                <span><strong>Duurzaam resultaat</strong><br>Langdurige bescherming tegen vochtproblemen</span>
              </div>
            </div>
            <div class="vocht-item">
              <div class="surround-item"></div>
                <i class="bi bi-tools"></i>
                <span><strong>Snelle uitvoering</strong><br>Minimale overlast, maximaal effect</span>
              </div>
            </div>
        </div>
      </div>
    
    <div class="alignBottom">
      <app-parallax-banner imageUrl="Contact-Parallax.png">
        <div class="parallaxDiv">
          <span class="titleName">Vochtproblemen in huis?</span>  
          <span class="extraText">Laat ons langskomen voor een gratis meting en ontdek de beste oplossing mét garantie</span>
          <button class="buttonParallax" [routerLink]="['/contact']"><strong>Contacteer ons</strong>&nbsp; <i class="bi bi-arrow-right"></i></button>
        </div>
      </app-parallax-banner>
    </div>
  